@font-face
{
    font-family: MovieLover;
    src: url(../Resources/blockletter.regular.otf);
}

body 
{
    background-color: #333333;
}


.contentContainerStyle
{
    margin-top: 5em;   
    border-radius: 20px;
    box-shadow: 13px 20px 20px 3px #000000, -6px -6px 10px #828282;
    min-width: 90%;
}

.AddMovieForm
{
    max-width: 95%;
    color: white;
    font-size: 1.5em;
}


/* TITLE STYLES */
.WebsiteTitle
{
    font-size: 3em;
    font-weight: 500;
    font-family: MovieLover;
    color: white;
}
.title-container
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: 18px 5px 20px 3px #000000;

}
/* END TITLE STYLES */


/* CARD STYLES */
.DiplsayMovieCard-container
{
    padding: 10px;
    overflow: hidden;
}
.customCard
{
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
}
.customCard-image
{
    min-width: 100%;
    min-height: auto;
}
.customCard-button
{
    border-radius: 10px;
    background: #dc3545;
    box-shadow: inset 3px 3px 5px #5d151c, inset -20px -20px 60px #ff4053;
}
/*END CARD STYLES*/