@font-face
{
    font-family: MovieLover;
    src: url(../Resources/blockletter.regular.otf);
}

body 
{
    background-color: #333333;
}


.contentContainerStyle
{
    margin-top: 5em;   
    border-radius: 20px;
    box-shadow: 13px 20px 20px 3px #000000, -6px -6px 10px #828282;
    min-width: 90%;
}



/* LIBRARY TABLE STYLE */
.custom-table-container
{
    width: 100%;
    margin-top: 3em;
    margin-left: 1em;
    height: 15em;
}
.custom-table-style
{
    width: 90%;
    text-align: center;
}

/* SEARCH STYLE */
.search-container
{
    width: 100%;
    height: 100%;
}
.search-title
{
    color:white;
    font-size: 18pt;
}
.search-box-style
{
    border-radius: 10px;
    margin-top: 2em;
}
.search-box-group
{
    text-align: center;
}
.search-group-btn
{
    margin-top: 2em;
    border-radius: 50px;
    border-color: rgb(145, 0, 0);
    box-shadow: 2px 1px 0px #951a26, 2px 1px 4px #e5283a;
}
/*END SEARCH STYLE*/

/* Home View Styles */
.homeContainer
{
    width: 95%;
    height: 95%;
    background-image: radial-gradient(circle, rgb(74, 85, 115, .80)1%, #333333 48%);
    padding: 5px;
    border-radius: 20px;
}
.randomPickContainer
{
    height: 40%;
    width: 100%;
    overflow: hidden;
}
.randomtitle-container
{
    background-color: rgba(0, 0, 0, 0.466);
    padding-left:5px;
    padding-bottom: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 10px;
}
.randomPickTitle
{
    color:white;
    font-size: .8em;
}
.randompickHeader
{
    color:white;
    font-size: 1.5em;
    font-family: Helvetica;
}
.randompickHeader-container
{
    text-align: center;
}
.featured-container
{
    margin-top: 2em;
    margin-left: 2%;
    height: 40%;
    width: 100%;
    overflow: hidden;
}
.featured-img
{
    height: auto;
    width: 100%;
}
.feautred-btn
{
    margin-top: 10px;
    border-radius: 20px;
    background: #007bff;
    box-shadow: inset 2px 3px 0px #0061c9, inset -20px -20px 60px #0095ff;
}
.navigation-container
{
    height: 3em;
    margin-top: 40px;
    background-color:#1f1f1f;
    border-radius: 20px;
    width: 100%;
}
.navigation-li
{
    color: white;
    list-style: none;
    float: left;
    margin-top: .5em;
}
.navigation-ul
{
    text-align: center;
}
.navigation-btn
{
    font-size: 1.5em;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    margin-right: 1em;
    margin-left: .5em;
}
.navigation-btn-group
{
    margin-left: 2em;
}
/* END HOME VIEWS */

/* TITLE STYLES */
.WebsiteTitle
{
    font-size: 3em;
    font-weight: 500;
    font-family: MovieLover;
    color: white;
}
.title-container
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: 18px 5px 20px 3px #000000;

}
/* END TITLE STYLES */


/* CARD STYLES */
.DiplsayMovieCard-container
{
    padding: 10px;
    overflow: hidden;
}
.customCard
{
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
}
.customCard-image
{
    min-width: 100%;
    min-height: auto;
}
.customCard-button
{
    border-radius: 10px;
    background: #dc3545;
    box-shadow: inset 3px 3px 5px #5d151c, inset -20px -20px 60px #ff4053;
}
/*END CARD STYLES*/