body 
{
    background-color: #333333;
}


.contentContainer
{
    margin-top: 10%;   
    max-width: 80%;
    max-height: 90%;

    border-radius: 10px;
    background: #333333;
    box-shadow: 17px 12px 20px #000000, -7px 4px 20px #828282;
}

.AddMovieForm
{
    color: white;
}